.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  line-height: 80px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}